# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
#population 國家
country = ['Brazil','Buma','China','Korea','Taiwan','Turkey','Sweden','Singapore','Japan','Hong Kong']
#population 人口
population = [random.randint(0,100) for _ in range(10)]

print(population)
data = {'country': country ,
        'population': population}
data = pd.DataFrame(data)

[90, 11, 58, 2, 86, 18, 2, 98, 29, 59]

In [3]:
data.head()

  country  population
0  Brazil          90
1    Buma          11
2   China          58
3   Korea           2
4  Taiwan          86

In [4]:
data[data["population"] == data['population'].max()]

     country  population
7  Singapore          98